<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
  <ol class="breadcrumb border border-Light p-1 rounded-pill">
    <li class="breadcrumb-item"><a href="/alunos">Alunos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes do Aluno</li>
  </ol>
</nav>