<footer class="container-fluid position-fixed bottom-0 ">
      <ul class="nav justify-content-center border-bottom">
          
          <li class="nav-item"><a href="/" class="nav-link text-muted">Home</a></li><li class="nav-item"><a href="/about" class="nav-link text-muted">Sobre</a></li>
      </ul>
      <p class="text-center text-muted">© 2024 Senac Cora Coralina, aluno ki</p>
</footer>