<h1>{{title}}</h1>
<form action="">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Matricula</label>
    <input type="text" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Data de Nascimento</label>
    <input type="text" class="form-control" >
    </div>
</form>